.item {
    color: var(--colors-grey900);
    background-color: transparent;
    fill: var(--colors-grey800);
    display: flex;
    outline: none;
    justify-content: space-between;
    padding: 0 0 0 4px;
    margin: 0;
    border-radius: 2px;
    cursor: pointer;
    min-height: 22px;
    border: 1px solid transparent;
}

.item:not(.deactivated):not(.dragging):hover {
    background-color: var(--colors-grey100);
    border-color: var(--colors-grey400);
}

.label {
    display: flex;
    align-items: center;
}
.labelWrapper {
    display: flex;
    align-items: center;
}
.labelText {
    font-size: 13px;
    line-height: 15px;
    margin-top: 1px;
}

.iconWrapper {
    width: 16px;
    height: 16px;
    margin: 2px 4px 0 0;
    flex: 0 0 auto;
    align-self: flex-start;
}

.item.deactivated {
    opacity: 0.5;
    cursor: not-allowed;
}
.item.selected {
    background-color: var(--colors-teal100);
    border: 1px solid var(--colors-teal200);
    color: var(--colors-teal900);
    fill: var(--colors-teal800);
    font-weight: 400;
}
.item.selected:not(.deactivated):hover {
    background: #cdeae8;
    border-color: #93c4bf;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.optionsWrapper {
    width: 20px;
    height: 20px;
}

.lockWrapper svg path {
    fill: var(--colors-grey800);
}
.lockWrapper {
    background: var(--colors-grey300);
    height: 20px;
    padding: 0 1px 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.selected .lockWrapper svg path {
    fill: var(--colors-teal900);
}
