.container {
    padding: var(--spacers-dp16);
    border-bottom: 1px solid var(--colors-grey400);
    background-color: var(--colors-white);
}

.expanded {
    padding-bottom: var(--spacers-dp32);
}

.loader {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: var(--spacers-dp16);
    font-weight: 500;
    line-height: 21px;
    color: var(--colors-grey900);
}

.content {
    font-size: 14px;
    line-height: 18px;
    color: var(--colors-grey900);
}

.content p {
    display: flex;
    margin: 0;
    padding: 0;
    gap: var(--spacers-dp8);
}

.content p:not(first-child) {
    padding-top: var(--spacers-dp12);
}

.content p svg {
    flex-shrink: 0;
}

.noDescription {
    color: var(--colors-grey600);
}

.subsection {
    margin-top: var(--spacers-dp24);
}

.subsectionTitle {
    color: var(--colors-grey700);
    font-weight: 500;
}

.subsection button {
    margin-top: var(--spacers-dp8);
}
